@model MisClases.clsPersona
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <p>ID Persona: @Model.IdPersona</p>
    <p>Nombre: @Model.Name</p>
    <p>Apellidos: @Model.Surname</p>
    <p>Fecha Nacimiento: @Model.FechaNacimiento</p>
    <p>Dirección: @Model.Direccion</p>
    <p>Número de teléfono: @Model.NumeroTelefono</p>
</body>
</html>
